[Desktop Entry]
Version=1.0
Type=Application
Name=IDEA
Icon=idea
Exec=idea
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
